                * {
                	box-sizing: border-box;
                }
                p, div, section, a, article, header, nav, h1, h6, aside, footer, zamn, first, ul, ol {
		opacity: 0;
	            }
                div#eh {
                	opacity: 0;
                	position: absolute;
                	top: 145px;
                	cursor: default;
                }
                div#eh2 {
                	font-size: 200px;
                	opacity: 1;
                	position: absolute;
                	top: 145px;
                	cursor: default;
                }
/*on pc*/
@media (min-width: 1024px) {
	            p, div, section, a, article, header, nav, h1, h6, aside, footer, zamn, first, ul, ol {
		            opacity: 1;
	            }
	            div#eh, div#eh2 {
                	opacity: 0;
                }
                first li:nth-child(odd) {
					background-color: whitesmoke;
				}

				section:hover li:nth-child(even) {
					opacity: 1;
					background-color: whitesmoke;
					cursor: wait;
				}

				div#board {
					background-color: darkgreen;
					width: 25%;
					position: absolute;
					top: 250px;
					left: 400px;
				}

				div#board p#board1, p#board2, p#board3 {
					width: 50px;
					height: 50px;
					border: 1px solid black;
					margin-bottom: 15px;
					margin-left: 15px;
				}

				#boardtext {
					text-align: center;
					color: white;
					background-color: black;
					width: 50%;
					position: relative;
					left: 90px;
				}

				#board1 {
					background-color: red;
					position: relative;
					top: 110px;
					left: 65px;
				}

				#board2 {
					background-color: lightgreen;
					position: relative;
					bottom: 70px;
					left: 130px;
				}

				#board3 {
					background-color: blue;
					position: relative;
					bottom: 60px;
					left: 250px;
				}

				a.notreal {
					text-decoration: none;
					color: blue;
				}
				.blue {
					color: blueviolet;
					display: inline-block;
					width: 50%;
				}

				zamn p:active, zamn p:hover {
					font-family: Arial, Helvetica, sans-serif;
					border: 0;
					cursor: progress;
					display: block;
					text-align: center;
					margin-bottom: 10px;
					color: #0000A1;
					font-style: italic;
					text-transform: uppercase;
					font-size: 10em;
					cursor: help;
					opacity: 1;
				}

				a.real:link, a.real:visited {
					text-decoration: none;
					text-align: center;
					color: blue;
				}

				a.real:hover, a.real:active {
					background-color: black;
					color: black;
					display: block;
				}

				p.squash:hover {
					cursor: help;
					color: mediumvioletred;
					width:  1px;
				}

				h1 {
					/*margin-left: auto;*/
					/*margin-right: auto;*/
					text-align: center;
				}

				h1:hover {
					color: red;
					font-weight: bold;
					width: 1000px;
					text-align: center;
					border: 1px solid green;
				}

				#top {
					color: rgb(0, 255, 255);
				}

				section li {
					color: green;
					font-size: 5;
					opacity: 0;
					background-color: black;
					display: inline;
				}

				header {
					text-align: right;
				    font-size: 0.2em;
				}

				body {
					background: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg) repeat-y left;
					font-size: 150%;
					height: 417;
					width: 626;
				}

				header div {
					background-color: #DF0000;
					padding: 1px 1px 10px 20px;
					border: 10px solid #EF0000;
					margin: 20px;
					width: 1000px;
					height: 10;
				}

				div.box {
					/*background-color: green;*/
				}

				div.box section {
					clear:  left;
					color: gray;
					font-size: .2em;
					text-align: right;
				}

				div.box p {
					width: 50%;
					float: right;
					/*border: 1px solid black;*/
					padding: 10px;
				}

				#box1 {
					/*background-color: green;*/
				}

				#box2 {
					/*background-color: blue;*/
					font-size: 0.5em;
					text-align: right;
					color: black;
				}

				div.sus {
					letter-spacing: 1px;
					border: 10px;
					overflow: auto;
					padding: 10px;
					width: 600px;
					height: 300px;
				}

				.amog {
					text-align: center;
					text-decoration: none;
					cursor: pointer;
				}

				div.amog p:nth-child(1) {
					color: red;
				}

				div.amog p:nth-child(2) {
					color: green;
				}

				div.amog p:nth-child(3) a{
					color: blue;
				}

				div.amog p:nth-child(1):hover{
					color: blue;
				}

				div.amog p:nth-child(2):hover {
					color: red;
				}

				div.amog p:nth-child(3):hover a{
					color: green;
				}

				div.amog a:visited {
					color: white !important;
				}

				a {
					text-decoration: none !important;
				} 
			}
/*not on pc*/
@media (min-width: 768px) and (max-width: 1023.9px) {
	p, div, section, a, article, header, nav, h1, h6, aside, footer, zamn, first, ul, ol {
		opacity: 0;
	}
	div#eh2 {
		opacity: 0;
	}
	div#eh {
		opacity: 1;
		font-size: 200px;
	}
}
	
