body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* HEADER  */

#header-nav {
    background-color: wheat;
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url('../images/JermaSus.jpg') no-repeat;
    width: 100px;
    height: 100px;
    margin: 10px 15px 10px 0px;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    color: tomato;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: -35px -52px 5px black;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;  
}

.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .69em;
    margin-top: 15px;
}

.navbar-brand p span {
    vertical-align: middle;
}